{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h1>Tao chào mày</h1>
        <p class="lead">Welcome tới nhà của linh.</p>
    </div>
{% endblock %}